<!DOCTYPE html>
<html>
<head>
<title>转科室</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Nurse/Css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Nurse/Css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Nurse/Css/style.css" />
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.ui.core.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.ui.widget.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.ui.position.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.ui.autocomplete.js"></script> 
<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.ui.autocomplete.css"/> 
<script language="javascript">

</script>
<style type="text/css">
#doclist{width:95px;float:left; margin-right:10px;}
#change_doc{float:left;width:120px; padding-left:4px;}
</style>
</head>
<body>

<table class="table table-bordered table-hover m10">

   <embed style="RIGHT: 10px; POSITION: absolute; TOP: 10px" align=center src="__PUBLIC__/Home/swf/{$param}.swf" width="800" height="400 " type=application/x-shockwave-flash wmode="transparent" quality="high" ;> </embed>

</table>
</body>
</html>