<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Nurse2/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Nurse2/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Nurse2/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Nurse2/js/select-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Nurse2/editor/kindeditor.js"></script>
 
      <script src="__PUBLIC__/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Static/Uploadify/jquery.uploadify-3.1.min.js"></script>
	<link href="__PUBLIC__/Static/Uploadify/uploadify.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
    KE.show({
        id : 'content7',
        cssPath : './index.css'
    });
  </script>
  
<script type="text/javascript">
$(document).ready(function(e) {
    $(".select1").uedSelect({
		width : 345			  
	});
	$(".select2").uedSelect({
		width : 167  
	});
	$(".select3").uedSelect({
		width : 100
	});
});
</script>
 <style>
<!--
.red{color:#f03;}
#upload{left:80px;top:-32px !important;}
input[type="checkbox"]{margin-right:5px; width:15px; height:15px; overflow:hidden;}
.chk_txt{margin-top:2px; margin-right:8px;}
.left{width:80px; overflow:hidden;}
.chk_j{ float:left; margin-top:2px;}
.chk_txt{float:left;}
.check{display:none; background:#FFFF00; border:1px solid red; padding:2px 3px; position:absolute; left:106px; top:20px}
span.txt{color:#999;}
.imagelist{}
.imagelist li{
    background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #E0E0E0;
    display: inline;
    float: left;
	margin-right:10px;
	margin-top:5px;
    padding: 11px;
	height:178px;
	overflow:hidden;
	position: relative;
	
}
.imagelist li em{
    color: #999999;
    display: block;
    line-height: 18px;
    padding: 8px 0px;
}
.imagelist img.upimgs{ max-height:120px;}
.imagelist li span.txt {
    color: #FFFFFF;
    display: block;
    left: 11px;
    line-height:25px;
	height:25px;
    bottom: 41px;
	opacity: 0.7;
}
.imagelist li span a.actbut{float:left;width:24px; height:24px; margin-top:3px;}
-->;
</style>
<script language="javascript">
$(function(){
		
		$("#upload").uploadify({
			'formData'      : {'mode' : 'edit',"room_id":'<?=$row["room_id"]?>'},
			height        : 25,
			swf           : '__PUBLIC__/Static/Uploadify/uploadify.swf',
			uploader      : '__URL__/imgs_upload',
			width         : 120,
			buttonText	  : '选择图片',
			auto		  : true,
		
			removeCompleted: false,
			'onUploadError' : function(file, errorCode, errorMsg, errorString) { 
				alert('The file ' + file.name + ' could not be uploaded: ' + errorString); 
		}, 
			'onQueueComplete':function(queueData){
			$('#progress').hide();
			},
			onUploadSuccess: function(file, data, response) {
				
				var result = $.parseJSON(data);
				//错误处理。。。
				if(result.status == 0){
					alert(result.message);
					return false;
				}
				//上传成功
				var id = Math.random().toString();
				id = id.replace('.','_'); //生成唯一标示
				var pic_url = result['pic_url'];
				var html = '<li class="imageitem" id="'+id+'">';
					html+= '<input type="hidden" name="img_small[]" value="'+pic_url+'">'; //隐藏域，是为了把图片地址入库。。
					html+= '<img height="160" class="upimgs" src="'+result['pic_url']+'" />';
					html+=  '<span class="txt">';
					html+=  '<a title="删除" href=javascript:remove("'+pic_url+'","'+id+'");><img src="__PUBLIC__/Static/Uploadify/remove.png" /></a>';
					
					html+=  '</span>';
					html+=  '<em><textarea name="pname[]" style="height:20px;width:115px;">'+result['Filedata'].savename+'</textarea></em>';
					
					html+=  '</li>';
				$('#image_result').append(html);
			},
			onUploadStart: function(){
				$('#progress').text('图片上传中请稍后...');  //用户等待提示。
			},
			onInit: function (){  
				$("#upload-queue").hide(); //隐藏上传队列                
			}		
		});
	})
	function remove(file,id){
		var params = {"img_url":file,"id":id};
		$.ajax({
				url:"__URL__/delete_obj",
				type:'post',
				dataType:'json',
				data:params,
				success:function(data){
					if(data.flag==1){
						alert("删除成功");
					}else{
						alert("删除失败");
					}
				}
		})
		$('#'+id).remove();
		//return false;
	}
	function toremove(file){
		alert('方法写这里了，逻辑自己写。。'+"\r\n"+file);
	}



</script>
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="__APP__/Nurse2/index/index">首页</a></li>
    <li><a href="#">诊室信息编辑</a></li>
    </ul>
    </div>
    
    <div class="formbody">
  <div class="formtitle"><span>编辑诊室信息</span></div>
    
  	<div id="tab1" class="tabson">
    <ul class="forminfo">
    <form action="__URL__/edit_do" method="post" enctype="multipart/form-data">
   <input type="hidden" value="{$row.room_id}" name="room_id" />
    <input type="hidden" name="url" value="{$url}" />
    
    <li><label>实地编号<b>*</b></label><input name="real_id" type="text" class="dfinput" value="{$row.real_id}"  style="width:218px;"/></li>
   <li><label>显示名称<b>*</b></label><input name="room_name" type="text" class="dfinput" value="{$row.room_name}"  style="width:158px;"/></li>
    <li><label>所属科室<b>*</b></label><input name="dept_name" type="text" class="dfinput" value="{$row.dept_name}"  style="width:158px;"/></li>
     <li><label>IP地址<b>*</b></label><input name="ip" type="text" class="dfinput" value="{$row.ip}"  style="width:158px;"/></li>
      <li><label>前置小图片</label>
      
      <a href="void(0)" id="upload"></a><span id="progress"></span>
 <div style=" margin-left:85px;">
                    <p>
						<ul class="imagelist" id="image_result">
                            <?php
                            if($imglist!=""){                         
                            for($m=0;$m<count($imglist);$m++){
                            $img_id = str_replace("/","",$imglist[$m]['pic_url']);
                             $img_id = str_replace(".","_", $img_id);
                             $img_id = str_replace("-","", $img_id);
                            ?>
                            	<li class="imageitem" id="{$img_id}">
                                	<input type="hidden" name="img_small[]" value="{$imglist[$m]['pic_url']}" />
                                    <img class="upimgs" height="160" src="{$imglist[$m]['pic_url']}"  />
                                    <span class="txt"><a href="javascript:remove('{$imglist[$m]['pic_url']}','{$img_id}')" title="删除">
                                    <img src="__PUBLIC__/Static/Uploadify/remove.png"></a>
                                   </span><em>
                                    <textarea style="height:20px;width:115px;" name="pname[]"><?=$imglist[$m]['title']?></textarea></em>
                                   
                                    
                           		 </li>
                            <?php
                            }
                            }
                            ?>
                            
                        </ul>
                    </p>
                </div>
      </li>
  
  
    <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确定"/></li>
    </form>
    </ul>

    
 
    
    </div>


</body>

</html>
