<!DOCTYPE html>
<html>
<head>
    <title>{$row.pat_name}</title>
    <meta charset="UTF-8">
   <link href="__PUBLIC__/Nurse2/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.4.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/boxy/js/jquery.boxy.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/boxy/css/boxy.css" charset="utf-8"/>
    
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.ui.core.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.ui.widget.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.ui.position.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.ui.autocomplete.js"></script> 
<link rel="stylesheet" href="__PUBLIC__/Home/css/jquery.ui.autocomplete.css"/> 
 <script src="__PUBLIC__/Static/Uploadify/jquery.uploadify-3.1.min.js"></script>
	<link href="__PUBLIC__/Static/Uploadify/uploadify.css" rel="stylesheet" type="text/css">
    
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }

	.cls{}
    </style>
<script language="javascript">
/**
* 删除前确认
* www.jbxue.com
*/
function p_del() {
    var msg = "真的要删除吗？\n\n请确认！";
    if (confirm(msg)==true){
        return true;
     }else{
        return false;
     }
}
function tj(dept_code_old,pat_code){
	//alert(dept_code+"**"+pat_code);
	var dept_code_new = $("#sssss").val();
	var params = {"dept_code_new":dept_code_new,"dept_code_old":dept_code_old,"pat_code":pat_code};
	var tr ="#"+pat_code+"_"+dept_code_old; 
	$.ajax({
		url:"__URL__/ajax_change_dept",
		type:'post',
		dataType:'json',
		data:params,
		success:function(data){
			if(data.success==1){
				//alert("转科成功！");
				$(tr).find(".dept_name").html(data.dept_name);
				$(tr).css({"background":"yellow"});
				$(tr).find(".change_dept").attr("dept_code",dept_code_new);
				//$(ta).remove();
			}else{
				alert("转科失败");
			}
		}						
	})
}
function save_doc(dept_code,doctor_code_old,pat_code){
	//alert(dept_code+"**"+pat_code);
	var params = {"doctor_code_new":$("#doctor_code").val(),"dept_code":dept_code,"pat_code":pat_code,"doctor_code_old":doctor_code_old};
	var tr ="#"+pat_code+"_"+dept_code; 
	$.ajax({
		url:"__URL__/ajax_change_doctor",
		type:'post',
		dataType:'json',
		data:params,
		success:function(data){
			if(data.success==1){
				$(tr).find(".doctor_name").html(data.doctor_name);
				$(tr).css({"background":"#B3874E"});
				//$(ta).remove();
			}else{
				alert("转科失败");
			}
		}						
	})
}

$(function(){
$(".change_dept").click(function(){
	var dept_code = $(this).attr("dept_code");
	var pat_code = $(this).attr("pat_code");
	
	Boxy.load('__URL__/change_dept/dept_code/'+dept_code+'/pat_code/'+pat_code,{title:'调科室',afterShow:function(){
																						
			 	$("#save").click(function(){
					tj(dept_code,pat_code);
					$(".boxy-wrapper").remove();	
				})
	},unloadOnHide:true});
})

$(".change_doctor").click(function(){
	var doctor_code = $(this).attr("doctor_code");
	var dept_code = $(this).attr("dept_code");
	var pat_code = $(this).attr("pat_code");
	if(doctor_code==""){
		var  url = "__URL__/change_doctor/pat_code/"+pat_code+"/dept_code/"+dept_code;
	}else{
		var url = "__URL__/change_doctor/doctor_code/"+doctor_code+"/pat_code/"+pat_code+"/dept_code/"+dept_code;
	}
	Boxy.load(url,{title:'调医生',afterShow:function(){
																						
		$("#change_doc").autocomplete({ 
		source: "__URL__/getTeamKey", 
		minLength: 1,
		autoFocus:true,
		mustMatch:true,
		select: function( event, ui ) {
			$("#doctor_code").val(ui.item.id);
			
		}
		
	}); 
		
		$("#save_doc").click(function(){
			save_doc(dept_code,doctor_code,pat_code);
			$(".boxy-wrapper").remove();	
		})
			 },unloadOnHide:true});
})

$(".del").click(function(){
		var pat_code = $(this).attr("param");
		var ledger_sn = $(this).attr("param2");
		var order_no = $(this).attr("param3");
		var params = {"pat_code":pat_code,"ledger_sn":ledger_sn,"order_no":order_no}; 
		if(p_del()){
		$.ajax({
			url:"__URL__/setStatus", 
			type:'post',
			dataType:'json',
			data:params,
			success:function(data){
				if(data.success==1){
					$("#"+pat_code+"_"+ledger_sn+"_"+order_no).remove();
					alert("删除成功");
				}else{
					alert("删除失败");
				}
			}
		})	
		}
})



})

</script>


</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="__APP__/Nurse2/index/index">首页</a></li>
    <li><a href="#">诊室列表</a></li>
    </ul>
</div>
     <div class="rightinfo">
     <div class="tools">
    
    	<ul class="toolbar">
        <li class="click"><a href="__URL__/add"><span><img src="/mz/Public/Nurse2/images/t01.png"></span>添加</a></li>
        <li class="click"><span><img src="/mz/Public/Nurse2/images/t02.png"></span>修改</li>
        <li><span><img src="/mz/Public/Nurse2/images/t03.png"></span>删除</li>
       
        </ul>
        
        
      
    
    </div>
<table class="tablelist">
    <thead>
    <tr>
      <th width="50"><input type="checkbox" checked="checked" value="" name=""></th>
        <th>序号</th>
        <th>显示编号</th>
        <th>显示名称</th>
         <th>所属科室</th>
          <th>IP地址</th>
        <th>是否开诊</th>
         <th>当前医生</th>
    

      
        <th>管理操作</th>
    </tr>
    </thead>
        <volist name="list" id="vo">
        <tr <if condition="$i%2 eq 0">class="odd"</if> id="{$vo.pat_code}_{$vo.dept_code}">
         <td><input type="checkbox" value="" name=""></td>
                <td>{$vo.room_id}</td>
                 <td>{$vo.real_id}</td>
                <td>{$vo.room_name}</td>
                 <td>{$vo.dept_name}</td>
                  <td>{$vo.ip}</td>
                <td>{$vo.kaizhen}</td>
                <td>{$vo.doctor_name}</td>
        
             
                <td>
                <a href="__URL__/edit/room_id/{$vo.room_id}/url/<?=base64_encode(curPageURL())?>">编辑</a> 
                <a href="__URL__/del/room_id/{$vo.room_id}/url/<?=base64_encode(curPageURL())?>" class="del" room_id="{$vo.room_id}">删除</a></td>
            </tr>
     </volist>  
    
    
     </table>
 <div class="pagin page"> 
    	{$page}
       
    </div>
        </div>
</body>
</html>
<style>
.page{ padding-bottom:28px; float:right; width:480px;}
.page span{ float:left;}
.page a{ margin-left:6px; display:block; width:20px; height:20px; line-height:20px; float:left; border:1px solid #ccc; text-align:center;}
.page .current{width:20px; background:#0098C6; margin-left:6px; color:#fff; height:20px; line-height:20px; border:1px solid #0098C6; text-align:center;	}
.page a.next,.page a.prev,.page a.end{ width:45px; line-height:22px;}
</style>
<script>
    $(function () {


		$('#addnew').click(function(){

				window.location.href="add.html";
		 });


    });
	
</script>