<!DOCTYPE html>
<html> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.4.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css" />

<script type="text/javascript" language="javascript">
$(function(){
	
})


</script>
<style>
.cx_main{ width:1024px; height:768px; overflow:hidden; background:url(__PUBLIC__/Home/img/yaojia/bg.png) no-repeat center top;}
.but_area{width:478px;margin:auto; margin-top:200px; }
.but_area a{ display:block; width:478px; height:169px; background:url(__PUBLIC__/Home/img/yaojia/button.png) no-repeat; line-height:189px; padding-left:128px;color:#fff; font-family:黑体; font-size:48px; text-decoration:none;}
.but_area a.a2{ margin-top:30px;}
</style>
<title>价格公示查询</title>
</head>
<body>
<div class="cx_main">
	<div class="but_area">
    	<a href="__URL__/yaojia" class="a1">药品价格查询</a>
        <a href="__URL__/zhenliao" class="a2">诊疗项目查询</a>
    </div>
</div>
</body>
</html>