</div>
            <!-- Inner Container End -->
                       
            <!-- Footer -->
            <div id="mws-footer">
                技术支持：北京融威众邦电子技术有限公司 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系电话：15601000335
            </div>
            
        </div>
        <!-- Main Container End -->
        
    </div>

    <!-- JavaScript Plugins -->
    <script src="__PUBLIC__/admin/js/libs/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/admin/js/libs/jquery.mousewheel.min.js"></script>
    <script src="__PUBLIC__/admin/js/libs/jquery.placeholder.min.js"></script>
    <script src="__PUBLIC__/admin/custom-plugins/fileinput.js"></script>

    <!-- jQuery-UI Dependent Scripts -->
    <script src="__PUBLIC__/admin/jui/js/jquery-ui-1.9.2.min.js"></script>
    <script src="__PUBLIC__/admin/jui/jquery-ui.custom.min.js"></script>
    <script src="__PUBLIC__/admin/jui/js/jquery.ui.touch-punch.js"></script>

    <!-- Plugin Scripts -->
    <script src="__PUBLIC__/admin/plugins/colorpicker/colorpicker-min.js"></script>
    <script src="__PUBLIC__/admin/plugins/validate/jquery.validate-min.js"></script>

    <!-- Core Script -->
    <script src="__PUBLIC__/admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/admin/js/core/mws.js"></script>

    <!-- Themer Script (Remove if not needed) -->
    <script src="__PUBLIC__/admin/js/core/themer.js"></script>

    <!-- Demo Scripts (remove if not needed) -->
    <script language="javascript" type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
</body>
</html>