<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">

<!-- Viewport Metatag -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- Plugin Stylesheets first to ease overrides -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/plugins/colorpicker/colorpicker.css" media="screen">

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/bootstrap/css/bootstrap.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/fonts/ptsans/stylesheet.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/fonts/icomoon/style.css" media="screen">

<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/mws-style.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/icons/icol16.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/icons/icol32.css" media="screen">

<!-- Demo Stylesheet -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/demo.css" media="screen">

<!-- jQuery-UI Stylesheet -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/jui/css/jquery.ui.all.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/jui/jquery-ui.custom.css" media="screen">

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/mws-theme.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/themer.css" media="screen">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/my.css" media="screen">

<title>MWS Admin - Form Layouts</title>

</head>

<body>

    <!-- Themer (Remove if not needed) -->  
    <div id="mws-themer">
        
        <div id="mws-themer-css-dialog">
            <form class="mws-form">
                <div class="mws-form-row">
                    <div class="mws-form-item">
                        <textarea cols="auto" rows="auto" readonly="readonly"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Themer End -->

    <!-- Header -->
    <div id="mws-header" class="clearfix">
    
        <!-- Logo Container -->
        <div id="mws-logo-container">
        
            <!-- Logo Wrapper, images put within this wrapper will always be vertically centered -->
            <div id="mws-logo-wrap">
                <img src="__PUBLIC__/admin/images/mws-logo.png" alt="mws admin">
            </div>
        </div>
        
        <!-- User Tools (notifications, logout, profile, change password) -->
        <div id="mws-user-tools" style="margin-right:450px" class="clearfix">
            <!-- User Information and functions section -->
            <div id="mws-user-info"  class="mws-inset">
                <!-- Username and Functions -->
                <div id="mws-user-functions" style="line-height:32px;font-size:25px;margin: 0 4px;">
                    <div id="mws-username">
                        大兴妇幼保健院后台
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Start Main Wrapper -->
    <div id="mws-wrapper">
    
        <!-- Necessary markup, do not remove -->
        <div id="mws-sidebar-stitch"></div>
        <div id="mws-sidebar-bg"></div>
        
        <!-- Sidebar Wrapper -->
        <!-- <block name='' -->
        <div id="mws-sidebar">
        
            <!-- Hidden Nav Collapse Button -->
            <div id="mws-nav-collapse">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <!-- Searchbox -->
            <div id="mws-searchbox" class="mws-inset">
                <form action="#">
                    <input type="text" class="mws-search-input" placeholder="Search...">
                    <button type="submit" class="mws-search-submit"><i class="icon-search"></i></button>
                </form>
            </div>
            
            <!-- Main Navigation -->
            <div id="mws-navigation">
                <ul>
                    <li>
                        <a href="#"><i class="icol32-building"></i>医院介绍</a>
                        <ul style="display: none;" class="closed">
                            <li><a href="__APP__/Admin/Hospital/index">医院介绍列表</a></li>
                            <li><a href="__APP__/Admin/Hospital/add">添加医院介绍</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icol32-folder-add"></i>医院系统分类</a>
                        <ul style="display: none;" class="closed">
                            <li><a href="__APP__/Admin/Type/index">类别列表</a></li>
                            <li><a href="__APP__/Admin/Type/add">添加类别</a></li>
                        </ul>
                    </li>
                     <li>
                        <a href="#"><i class="icol32-small-tiles"></i>科室介绍</a>
                        <ul style="display: none;" class="closed">
                            <li><a href="__APP__/Admin/Keshi/index">科室列表</a></li>
                            <li><a href="__APP__/Admin/Keshi/add">添加科室信息</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icol32-group"></i>医生介绍</a>
                        <ul style="display: none;" class="closed">
                            <li><a href="__APP__/Admin/Doctor/index">医生列表</a></li>
                            <li><a href="__APP__/Admin/Doctor/add">添加医生</a></li>
                        </ul>
                    </li>
                    
            </div> 
        </div>
        
        <!-- Main Container Start -->
        <div id="mws-container" class="clearfix">
        
            <!-- Inner Container Start -->
            <div class="container">