<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/js/kindeditor/themes/default/default.css" />
    <script charset="utf-8" src="__PUBLIC__/admin/js/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="__PUBLIC__/admin/js/kindeditor/lang/zh_CN.js"></script>
    <script type="text/javascript">
var editor;
KindEditor.ready(function(K) {
	editor = K.create('textarea[name="title"]', {
		allowFileManager : true
	});				
});
</script>
</head>
<body>
<div style="background-color:#0e93d7;width: 100%;height:26px;margin-bottom:10px;">当前操作：添加医院简介</div>
<form action="__URL__/save" method="post">
<table border="1px" align="center" cellspacing="0px" bordercolor="#0e93d7">
	<tr>
		<td>医院简介：</td>
		<td><textarea name="title" style="width:100%;height:300px;visibility:hidden;"></textarea></td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" value="提交"/></td>
	</tr>
</table>
</form>
</body>
</html>