.login_area{width:370px; height:204px; background:url(../img/login_bg.jpg) no-repeat; margin:auto;margin-top:10%;}
.login_area ul{ margin-top:20px; float:left; width:100%;}
.login_area ul.one{ margin-top:60px; padding-left:20px;}
.login_area ul.one li.txt{ font-size:25px; font-family:Î¢ÈíÑÅºÚ; color:#000;}
#doctor_code{width:110px;  height:25px; background:#fff; padding:0px 5px; font-size:20px;}
.ibtn{width:87px; height:43px; background:url(../img/login_btn_bg.png) no-repeat; border:none; cursor:pointer; margin-left:220px; font-weight:bold; font-size:20px; margin-top:15px;}
.login_area ul li{float:left;}