
<!DOCTYPE HTML>
<html>
<head>
    <title>护士站系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/Nurse/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Nurse/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Nurse/assets/css/main-min.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="header">

    <div class="dl-title">
        <!--<img src="/chinapost/Public/assets/img/top.png">-->
    </div>

    <div class="dl-log">欢迎您，<span class="dl-log-user">root</span><a href="/chinapost/index.php?m=Public&a=logout" title="退出系统" class="dl-log-quit">[退出]</a>
    </div>
</div>
<div class="content">
    <div class="dl-main-nav">
        <div class="dl-inform"><div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div></div>
        <ul id="J_Nav"  class="nav-list ks-clear">
            <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">系统管理</div></li>
            <!-- <li class="nav-item dl-selected"><div class="nav-item-inner nav-order">业务管理</div></li> -->

        </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
</div>
<script type="text/javascript" src="__PUBLIC__/Nurse/assets/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Nurse/assets/js/bui-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Nurse/assets/js/common/main-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Nurse/assets/js/config-min.js"></script>
<script>
    BUI.use('common/main',function(){
        var config = [
					  	{
							id:'1',menu:[
	
											 {
												 text:'功能列表',
												 items:[
														  {id:'11',text:'系统首页',href:'__APP__/Nurse/Main/'},
														  {id:'12',text:'医生列表',href:'__APP__/Nurse/Doctor/'},
														  {id:'13',text:'诊室监控',href:'__APP__/Nurse/JianKong/index/zhenqu/<?=$zhenqu?>'}, 
														  {id:'14',text:'文字设置',href:'__APP__/Nurse/SetTxt/'},
														  {id:'15',text:'患者管理',href:"__APP__/Nurse/PatList/index/zhenqu/<?=$zhenqu?>"},
														  {id:'16',text:'患者报到',href:'__APP__/Nurse/PatAdd/index/zhenqu/<?=$zhenqu?>'},
														  {id:'17',text:'科室维护',href:'__APP__/Nurse/CustomDept/'},
														  {id:'18',text:'诊室维护',href:'__APP__/Nurse/RoomList/'},
															{id:'19',text:'诊区维护',href:'__APP__/Nurse/ZhenQu/'},
													   ]
											 }
								    	]
					     },
					  	 {
							 id:'7',
						     homePage : '9',
						     menu:[
							   	     {
									   text:'业务管理',
									   items:[
												  {
													  id:'9',
													  text:'查询业务',
													  href:'Node/index.html'
												   }
											  ]
									  }
								  ]
					     }
				 ];
        new PageUtil.MainPage({
            modulesConfig : config
        });
    });
</script>
<div style="text-align:center;">

</div>
</body>
</html>