<form action="__URL__/edit_do" method="post" class="definewidth m20" enctype="multipart/form-data">
<input type="hidden" id="doctor_code" value="{$doctor_code}" />
<table class="table table-bordered table-hover m10">

    <tr>
        <td class="tableleft" width="40%">患者姓名</td>
        <td>
 			{$pat_name}
        </td>
    </tr> 
     <tr>
        <td class="tableleft" width="40%">挂号科室</td>
        <td>
 			{$dept_name}
        </td>
    </tr> 
    <tr>
        <td class="tableleft" width="40%">医生姓名</td>
        <td>
       <input type="text" id="change_doc" value="{$doctor_name}" />
        </td>
    </tr> 
    <tr>
       
        <td colspan="2">
            <button type="button" class="btn btn-primary" type="button" id="save_doc">保 存</button><!--  &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid" onClick="tiaozhuan()">返回列表</button> -->
        </td>
    </tr>
</table>
</form>



