<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/Nurse2/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Nurse2/css/select.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Nurse2/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Nurse2/js/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Nurse2/js/select-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Nurse2/editor/kindeditor.js"></script>
<script type="text/javascript">
    KE.show({
        id : 'content7',
        cssPath : './index.css'
    });
  </script>
  
<script type="text/javascript">
$(document).ready(function(e) {
    $(".select1").uedSelect({
		width : 345			  
	});
	$(".select2").uedSelect({
		width : 167  
	});
	$(".select3").uedSelect({
		width : 100
	});
});
</script>
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="__APP__/Nurse2/index/index/">首页</a></li>
    <li><a href="#">用户信息编辑</a></li>
    </ul>
    </div>
    
    <div class="formbody">
  <div class="formtitle"><span>用户信息编辑</span></div>
    
    <ul class="forminfo">
    <form  method="post" action="__URL__/edit_do">
    <input type="hidden" name="uid" value="{$row.uid}" />
    <input type="hidden" name="url" value="{$url}" />
    
     <li><label>用户名<b>*</b></label><input name="uname" id="uname" type="text" class="dfinput" value="{$row.uname}"  style="width:218px;"/></li>
   <li><label>用户密码<b>*</b></label><input name="password" id="password" type="password" class="dfinput" value="{$row.password}"  style="width:218px;"/></li>
   <li><label>用户昵称<b>*</b></label><input name="nickname" id="nickname" type="text" class="dfinput" value="{$row.nickname}"  style="width:218px;"/></li>
   <li><label>所属分组<b>*</b></label>
   
   <div class="vocation">
    <select class="select1" name="gid">
   <volist name="group_list" id="vo">
    <option value="{$vo.gid}" <if condition="$vo['gid'] eq $row['gid']"> selected="selected"</if>>{$vo.gname}</option>
    </volist>
    </select>
    </div>
   </li>
    <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确定"/></li>
    </form>
    </ul>
</body>

</html>
