<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Nurse//Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Nurse//Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Nurse//Css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/Nurse//Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Nurse//Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Nurse//Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Nurse//Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Nurse//Js/common.js"></script>
    <script src="__PUBLIC__/ckeditor/ckeditor.js" type="text/javascript"></script>
<script language='javascript'>
function setImagePreview() {
        var docObj=document.getElementById("thumbnail");
 
        var imgObjPreview=document.getElementById("preview");
                if(docObj.files &&    docObj.files[0]){
                        //火狐下，直接设img属性
                        imgObjPreview.style.display = 'block';
                        //imgObjPreview.style.width = '260px';
                                           
                        //imgObjPreview.src = docObj.files[0].getAsDataURL();

      //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式  
      imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);

                }else{
                        //IE下，使用滤镜
                        docObj.select();
                        var imgSrc = document.selection.createRange().text;
                        var localImagId = document.getElementById("localImag");
                        //必须设置初始大小
                        //localImagId.style.width = "300px";
                        localImagId.style.height = "90px";
                        //图片异常的捕捉，防止用户修改后缀来伪造图片
try{
                                localImagId.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                                localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
                        }catch(e){
                                alert("您上传的图片格式不正确，请重新选择!");
                                return false;
                        }
                        imgObjPreview.style.display = 'none';
                        document.selection.empty();
                }
                return true;
}
</script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form action="__URL__/video_edit_do" method="post" class="definewidth m20">
<input type="hidden" name="id" value="{$row['id']}" />
<table class="table table-bordered table-hover m10">

    <tr>
        <td class="tableleft" width="6%">视频名称</td>
        <td><input type="text" name="title" value="{$row['title']}"/></td>
    </tr>
     <tr>
        <td class="tableleft" width="6%">视频格式</td>
        <td>{$row['vtype']}</td>
    </tr>
    <tr>
        <td class="tableleft">存放位置</td>
        <td>{$row.url}</td>
    </tr>
    <tr>
        <td class="tableleft">是否启用</td>
        <td>
        	<select name="active">
            	<option value="0" <if condition="$row['active'] eq 0">selected</if>>否</option>
                <option value="1" <if condition="$row['active'] eq 1">selected</if>>是</option>
            </select>
        </td>
    </tr>
    
   
    
    <tr>
        <td class="tableleft"></td>
        <td>
            <button type="submit" class="btn btn-primary" type="button">保 存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>
<script>
    $(function () {       
		$('#backid').click(function(){
				window.location.href="index.html";
		 });

    });
</script>