@charset "utf-8";
.daping_area{width:1366px; height:768px; position:relative; overflow:hidden; background:url(../img/dp01_7.png) no-repeat center top;}
.dp_body{float:left;  margin-top:72px; padding-left:70px;}
.dp_body ul{float:left; height:63px; line-height:63px; margin-top:5px;}
.dp_body ul li{ display:inline-block;color:#fff; font-size:36px; width:120px;}
.dp_title ul li.one,.dp_body ul li.one{width:175px;}
.dp_title ul li.two,.dp_body ul li.two{width:205px;}
.dp_title ul li.thr,.dp_body ul li.thr{width:215px; color:yellow; font-weight:bold;}