<include file="Base/head" />
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span>类别修改页面</span>
        </div>
        <div class="mws-panel-body no-padding">
            <form class="mws-form" action="__URL__/update" method="post">
                <!-- 执行修改需要添加id隐藏域 -->
                <input type="hidden" name='id' value='{$vo['id']}'>
                <div class="mws-form-inline">
                     <div class="mws-form-row">
                        <label class="mws-form-label">父类类名</label>
                        <div class="mws-form-item">
                            <select class="small" name='pid' disabled="disabled">
                                <option value="0">顶级类</option>
                                <volist name="list" id="v">
                                <option value='{$v['id']}' <if condition='$v["id"] eq $id'>selected<else/></if> >{$v['name']}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">科室名称</label>
                        <div class="mws-form-item">
                            <input class="small" type="text" name="name" value="{$vo['name']}">
                        </div>
                    </div>  
                </div>
                <div class="mws-button-row">
                    <input value="修改" class="btn btn-danger" type="submit">
                    <input value="重置" class="btn " type="reset">
                </div>
            </form>
        </div>      
    </div>
<include file="Base/foot" />