<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Nurse//Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Nurse//Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Nurse//Css/style.css" />
        <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/autocomplete/jquery.ui.core.js"></script> 
<script type="text/javascript" src="__PUBLIC__/autocomplete/jquery.ui.widget.js"></script> 
<script type="text/javascript" src="__PUBLIC__/autocomplete/jquery.ui.position.js"></script> 
<script type="text/javascript" src="__PUBLIC__/autocomplete/jquery.ui.autocomplete.js"></script> 
<link rel="stylesheet" href="__PUBLIC__/autocomplete/jquery.ui.autocomplete.css"/>  

    <script src="__PUBLIC__/ckeditor/ckeditor.js" type="text/javascript"></script>

<script language='javascript'>

$(function(){
	$("#dept_name").autocomplete({ 
			source: "__URL__/getDeptKey", 
			minLength: 1,
			autoFocus:true,
			mustMatch:true,
			select: function( event, ui ) {
				$("#dept_code").val(ui.item.id);
			}
			
	});	
	
	$("#dept_area li").live("click",function(){
		if($(this).attr("have_click")==1){
			$(this).attr("have_click","0");
			$(this).find("input").removeAttr("checked");
			$(this).css({"background":"#ffffff","color":"#333333"});
			
		}else{
			$(this).find("input").attr("checked","checked");
			$(this).attr("have_click","1");
			$(this).css({"background":"#5D9019","color":"#ffffff"});
		}							
    })  
})

</script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
.fl{float:left;}
#dept_area{ margin-left:0px;}
#dept_area li{ list-style:none; width:200px; float:left; cursor:pointer; margin-right:15px; padding:0px 6px;}
#dept_area li span{ margin-left:4px; float:left;}
#dept_area li .chk{ margin-top:3px;}
    </style>
</head>
<body>
<form action="__URL__/add_do" method="post" class="definewidth m20" >
<table class="table table-bordered table-hover m10">

    <tr>
        <td class="tableleft" width="6%">诊区名称</td>
        <td>
        	<!-- <select name="dept_code">
            	<option value="">请选择科室</option>
                <volist name="dept_list" id="vo">
                	<option value="{$vo.dept_code}">{$vo.dept_name}</option>
                </volist>
            </select>
            -->
            <input type="text" name="name" id="zq_name" />
        </td>
    </tr>
     <tr>
        <td class="tableleft" width="6%">大屏ID</td> 
        <td>
            <input type="text" name="BigScreenID" id="BigScreenID" value="{$row.BigScreenID}" />
        </td>
    </tr>
    <tr>
        <td class="tableleft" width="6%">语音IP</td> 
        <td>
            <input type="text" name="VoiceIP" id="VoiceIP" value="{$row.VoiceIP}" />
        </td>
    </tr>
 <tr>
        <td class="tableleft" width="10%">区域诊室编号</td>
        <td>
            <input type="text" name="room" id="room" style="width:400px;" /> (注：以“，”号分隔)
        </td>
    </tr>
    
     <tr>
        <td class="tableleft" width="10%">包含科室</td>
        <td>
        	<ul id="dept_area">
            	<volist name="dept" id="vo">
            		<li><input type="checkbox" value="{$vo.dept_code}" name="dept[]" class="fl chk" /><span>{$vo.dept_name}</span></li>
                </volist>
            </ul>
           
        </td>
    </tr>
    
    <tr>
        <td class="tableleft" width="6%">所在位置</td>
        <td>
            <input type="text" name="position" id="zq_position" />
        </td>
    </tr>
    
   
    <tr>
        <td class="tableleft"></td>
        <td>
            <input type="submit" class="btn btn-primary" value="保 存"> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>
<script>
    $(function () {       
		$('#backid').click(function(){
				window.location.href="index.html";
		 });

    });
</script>