<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=10" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/dfdy/css/base.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/dfdy/css/index.css" />
<script language="javascript" src="__PUBLIC__/dfdy/js/jquery-1.9.1.js" ></script> 
<script language="javascript" src="__PUBLIC__/dfdy/js/ServerClock.js" ></script>  
<script language="javascript" type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/dfdy/js/my.js"></script>
<SCRIPT language=javascript> 
//+---------------------------------------------------  
//| 日期输出字符串，重载了系统的toString方法  
//+---------------------------------------------------  
Date.prototype.toString = function(showWeek)  
{   
    var myDate= this;  
    var str = myDate.toLocaleDateString();  
    if (showWeek)  
    {   
        var Week = ['日','一','二','三','四','五','六'];  
        str += ' 星期' + Week[myDate.getDay()];  
    }  
    return str;  
}  
<!-- 
//window.onerror=function(){return true;} 
// --> 
</SCRIPT> 
<script language="javascript">
	window.onload = function () {
		document.onselectstart = function(){
            return false;
        }
		daojishi(60);
		// window.external.DisAllowCardIn();
 		$(".btn_area").show();
		$("#confirm").css({"visibility":"hidden"});
		$("#fanhui").css({"visibility":"visible"});
		$("#tuichu").css({"visibility":"visible"});
		$("#business_type").val("病历底方打印");
		$("#op_code").val(new Date().Format("yyyyMMddhhmmssS")/*GetRandomNum(10000,99999)*/);
		$("#op_now").val("dayin_chose_card_type");
		var re = window.external.getUserId();
		$("#zzj_id").val(re);
		writeLog("点击病历底方打印");

    }
    var c = 0;
	<?php
		$weekary = array("日","一","二","三","四","五","六");
		$W = $weekary[date("w")];
	?>
    var Y =<?php echo date('Y')?>, M =<?php echo date('n')?>, D =<?php echo date('j')?>;
    function stime() {
        c++
        sec = <?php echo time() - strtotime(date("Y-m-d"))?>+c;
        H = Math.floor(sec / 3600) % 24
        I = Math.floor(sec / 60) % 60
        S = sec % 60
        if (S < 10) S = '0' + S;
        if (I < 10) I = '0' + I;
        if (H < 10) H = '0' + H;
        if (H == '00' & I == '00' & S == '00') D = D + 1; //日进位
        if (M == 2) { //判断是否为二月份******
            if (Y % 4 == 0 && !Y % 100 == 0 || Y % 400 == 0) { //是闰年(二月有28天)
                if (D == 30) {
                    M += 1;
                    D = 1;
                } //月份进位
            }
            else { //非闰年(二月有29天)
                if (D == 29) {
                    M += 1;
                    D = 1;
                } //月份进位
            }
        }
        else { //不是二月份的月份******
            if (M == 4 || M == 6 || M == 9 || M == 11) { //小月(30天)
                if (D == 31) {
                    M += 1;
                    D = 1;
                } //月份进位
            }
            else { //大月(31天)
                if (D == 32) {
                    M += 1;
                    D = 1;
                } //月份进位
            }
        }
       $.ajax({
	 		url:"__APP__/ZhuYuan_ChongZhi/Index/getdangqian_timme", 
	 		type:'post',
	 		dataType:'json',
	 		success:function(data){
	 			$("#show_times").html(data['rq']+"<span style='margin-right:34px;'>"+data['xq']+"</span>"+data['sj'])
	 		}
	 	})
		/********************改为一秒执行一次***********************/
        setTimeout("stime()", 30000); 
    }
</script>
<script  language="javascript">
	function setCalls(pat_code,noon_flag){
		var params = {"pat_code":pat_code};
		$.ajax({
			url:"__URL__/setCalls", 
			type:'post',
			dataType:'json',
			data:params,
			success:function(data){
				
			}
		})
	}

</script> 

<script language="javascript">
var data,datarow;
var interval = "";
var interval2 = new Array();
var interval3 = new Array();
var countdown = 60;
var jzk_flag = 0;
var page = 1;
var pagedata = null;
var ocx;
var cardNum;
var now_time = null;
var moring_time = null;
var moon_time = null;
var xianzhi_ic = 1;//就诊卡连续点击限制
var xianzhi_sfz = 1;//身份证连续点击限制
function settime(val) {
	if (countdown == 1) { 
		$("#tuichu").trigger("click");
		countdown = 0; 
		clearTimeout(interval2);
		return;
	} else { 
		countdown--; 
		$("#downcount").show().text(countdown);
	} 
	
	var in2 = setTimeout(function() { 
		settime(val) 
	},1000);
	interval2.push(in2);
	
} 
/***
***倒计时函数
********/
function daojishi(etime){
	for(var key in interval2){
		clearTimeout(interval2[key]);
	}
	countdown = etime;
	settime(etime);
}
function backspace(){ //退格
	var vals = $("#jz_card_no").val();
	var vals2 = vals.substring(0,vals.length-1)
	key_value2 = vals2;
	$("#jz_card_no").val(key_value2);
}//取长度为原长度减一的串，实现退格效
/*******金属密码键盘明文调用开始***************/
var key_value2 = "";
function secr_c(str){
	switch(str){
	case "ENTER":
	$("#confirm").trigger("click");
	break;
	case "CLEAR":
	backspace()
	break;
	case "1":
	case "2":
	case "3":
	case "4":
	case "5":
	case "6":
	case "7":
	case "8":
	case "9":
	case "0":
	case "00":
	key_value2+=str;
	break;
	}
	
	$("#jz_card_no").val(key_value2); 
}

//获取打印纸的状态
function print_status(zzj_id){
	var params = {"zzj_id":zzj_id};
	$.ajax({
		url:"__URL__/print_status", 
		type:'post',
		dataType:'json',
		data:params,
		success:function(data){
		}
	})
}
/*******金属密码键盘明文调用结束***********************/
$(function(){
$("#op_now").val("dayin_chose_card_type");
$("#op_code").val(new Date().Format("yyyyMMddhhmmssS"));
print_status($("#zzj_id").val());
/*******数字键盘区开始*******************************************************************************/
var key_value = "";
$(".j_keybord_area .key li.num").on("mousedown",function(){
	//$(".j_keybord_area .key li").removeClass("active");
	// $(this).addClass("active");
	// key_value+=$(this).attr("param");
	// $("#jz_card_no").val(key_value);
	var jz_card_no=$("#jz_card_no").val();
	var key_value="";
    if(jz_card_no.length>0){
   		var key_value=jz_card_no.substr(0,jz_card_no.length+1);
    }
    //alert(key_value);
	$(this).addClass("active");
	key_value+=$(this).attr("param");
	//alert(key_value);
	$("#jz_card_no").val(key_value);

})
$(".j_keybord_area .key li.del").on("click",function(){
	var jz_card_no=$("#jz_card_no").val();
     var a="";
     if(jz_card_no.length>0){
     var a=jz_card_no.substr(0,jz_card_no.length-1);
    }
	$("#jz_card_no").val(a);	
	key_value="";
	key_value2="";
})
$(".j_keybord_area .key li").on("mouseup",function(){
	$(".j_keybord_area .key li").removeClass("active");
	//$(this).addClass("active");
})
/*******数字键盘区结束*********************************************************************/

/*******身份证数字键盘开始****************************************************************/
$(".j_keybord_area_sfz .key li.num").on("mousedown",function(){
	//$(".j_keybord_area .key li").removeClass("active");
	/*$(this).addClass("active");
	key_value+=$(this).attr("param");
	$("#jz_card_no_sfz").val(key_value);*/
	//$(".j_keybord_area .key li").removeClass("active");
	var jz_card_no_sfz=$("#jz_card_no_sfz").val();
	var key_value="";
    if(jz_card_no_sfz.length>0){
   		var key_value=jz_card_no_sfz.substr(0,jz_card_no_sfz.length+1);
    }
    //alert(key_value);
	$(this).addClass("active");
	key_value+=$(this).attr("param");
	//alert(key_value);
	$("#jz_card_no_sfz").val(key_value);
})
$(".j_keybord_area_sfz .key li.del").on("click",function(){
	var jz_card_no_sfz=$("#jz_card_no_sfz").val();
     var a="";
     if(jz_card_no_sfz.length>0){
     var a=jz_card_no_sfz.substr(0,jz_card_no_sfz.length-1);
    }
	$("#jz_card_no_sfz").val(a);
})
$(".j_keybord_area_sfz .key li").on("mouseup",function(){
	$(".j_keybord_area_sfz .key li").removeClass("active");
	//$(this).addClass("active");
})
/*******身份证键盘区结束*******************************************************************/

/*******医保卡数字键盘开始*****************************************************************/
$(".j_keybord_area_yb .key li.num").on("mousedown",function(){
	//$(".j_keybord_area .key li").removeClass("active");
	/*$(this).addClass("active");
	key_value+=$(this).attr("param");
	$("#jz_card_no_sfz").val(key_value);*/
	//$(".j_keybord_area .key li").removeClass("active");
	var jz_card_no_yb=$("#jz_card_no_yb").val();
	var key_value="";
    if(jz_card_no_yb.length>0){
   		var key_value=jz_card_no_yb.substr(0,jz_card_no_yb.length+1);
    }
    //alert(key_value);
	$(this).addClass("active");
	key_value+=$(this).attr("param");
	//alert(key_value);
	$("#jz_card_no_yb").val(key_value);
})
$(".j_keybord_area_yb .key li.del").on("click",function(){
	var jz_card_no_yb=$("#jz_card_no_yb").val();
     var a="";
     if(jz_card_no_yb.length>0){
     var a=jz_card_no_yb.substr(0,jz_card_no_yb.length-1);
    }
	$("#jz_card_no_yb").val(a);
})
$(".j_keybord_area_yb .key li").on("mouseup",function(){
	$(".j_keybord_area_yb .key li").removeClass("active");
	//$(this).addClass("active");
})
/*******医保卡数字键盘区结束*************************************************************/

/*******住院输入充值金额数字键盘开始*****************************************************/
var key_value1 = "";
$(".j_keybord_area_chongzhi_shuru .key li.num").on("mousedown",function(){

	//$(".j_keybord_area .key li").removeClass("active");
	$(this).addClass("active");
	key_value1+=$(this).attr("param");
	$("#chongzhi_money").val(key_value1);

})
$(".j_keybord_area_chongzhi_shuru .key li.del").on("click",function(){
	var chongzhi_money=$("#chongzhi_money").val();
    var a="";
    if(chongzhi_money.length>0){
    	var a=chongzhi_money.substr(0,chongzhi_money.length-1);
    }
	$("#chongzhi_money").val(a);	
	
})
$(".j_keybord_area_chongzhi_shuru .key li").on("mouseup",function(){
	$(".j_keybord_area_chongzhi_shuru .key li").removeClass("active");
	//$(this).addClass("active");
})

$("#tuika").click(function(){
	window.external.MoveOutCard();
	//禁止进卡
	window.external.DisAllowCardIn();
})

$('#jz_card_no').keydown(function(e){
	if(e.keyCode==13){
		$("#confirm").trigger("click");
	}
});

$('#jz_card_no_sfz').keydown(function(e){
	if(e.keyCode==13){
	  $("#confirm").trigger("click");
	}
});
$('#jz_card_no_yb').keydown(function(e){
	if(e.keyCode==13){
	  $("#confirm").trigger("click");
	}
});

/************选择了就诊卡***************/
$("#xz_ic").on("click",function(){
    $("#card_code").val("3");
    writeLog("选择了就诊卡");
    $(".chose_card_type_area").hide();
    $(".jiuzhen_op_area").show();
    $(".jiuzhen_op_area .tips").text("");
    $("#jz_card_no").focus();
    $("#op_now").val("ic_get_pat_info");
    $(".btn_area").show();
    $("#confirm").css({"visibility":"visible"});
    window.external.send(5,2);   //就诊卡
    interval = setInterval(getIcCardNo,"1000");
    interval3.push(interval);
    daojishi(60);
})
/****************选择了身份证*******************/
$("#xz_sfz").on("click",function(){
	$("#card_code").val("2");
	writeLog("选择了身份证");
	$(".chose_card_type_area").hide();
	$(".jiuzhen_op_area_sfz").show();
	$(".jiuzhen_op_area_sfz .tips").text("");
	$("#jz_card_no_sfz").focus();
	setInterval(function(){
		$("#jz_card_no_sfz").focus();
	},"1000");
	$("#op_now").val("sfz_put_sfz");
	$(".btn_area").show();
	$("#confirm").css({"visibility":"visible"});
	writeLog("定时判断患者是否放身份证");
	window.external.send(4,2);   //身份证
	interval = setInterval(getCardNoS,"1000");
	interval3.push(interval);
	daojishi(60);	
});
/****************选择了医保卡*******************/
$("#xz_yibao").on("click",function(){
    $("#card_code").val("1");
    writeLog("选择了医保卡");
    $(".mtnum2").hide();
    $(".yb_op_area").show();
     $(".yb_op_area .tips").text("");
    $("#op_now").val("chose_yb_card");
    $(".btn_area").show();
    $("#confirm").css({"visibility":"hidden"});
    window.external.send(2,2);   //开启社保卡灯带
    window.external.AllowCardIn();//允许社保进卡
    interval = setInterval(getYibaoInfo,"1000");
    interval3.push(interval);
     daojishi(60);
});
/***退出按钮事件***/
$("#tuichu").on("click",function(){
	print_status($("#zzj_id").val());
	window.external.send(1,4);
	writeLog("点击退出退到主界面");
	// $(".main_left_1").show();
	// $(".main_right_1").show();
	$(".mtnum2").hide();
	$("#jz_card_no").val("");
	$("#jz_card_no_guahao").val("");
	$("#jz_card_no_guahao_sfz").val("");
	$("#jz_card_no_sfz").val("");
	$(".btn_area").hide();
	$(".op_now").val("");
	  <!--------添加了用户的姓名-------->
	$("#jz_name").html("");
	$("#guahao_name").html("");
	$("#keshi_name").html("");
	$("#attr_list").html("");
	$("#sub_list").html("");
	$(".chose_room h4").html("");
	$(".tips").html("");
	$(".alipay_ma_show .tips").html("请用手机支付宝扫描付款");
	$(".alipay_ma_show_guahao .tips").html("请用手机支付宝扫描付款");
	$(".alipay_ma_show_guahao .erweima").html("");	
	$(".alipay_ma_show .erweima").html("");	
	$(".alipay_ma_show .pay_val").html("");
	$(".alipay_ma_show_guahao .pay_val").html("");
	$(".chufang_list").html("<h4></h4>");
	$(".yb_op_area .tips").html('');
	$(".yb_op_area_guahao .tips_guahao").html('');
	key_value="";
	key_value2="";
	 window.external.send(1,4);   //开启社保卡灯带
	// window.external.FreeYBIntfDll();
	window.external.MoveOutCard();
	window.external.DisAllowCardIn();
	//window.external.KeyBoardComClose();
	//window.external.keybord_close();
	// window.external.Out_UMS_CardClose();
	//window.external.Out_UMS_EjectCard();
	//UMS_EjectCard();
	//UMS_CardClose();
	$(".inhide").val("");
	$("#downcount").hide();
	for(var key in interval2){
		clearTimeout(interval2[key]);
	}
	for(var key in interval3){
		clearInterval(interval3[key]);
	}
    // window.location.href="__APP__/ZiZhu/Index";
	 window.external.webBrowserNavigateHome();
	
})
/*****确定按钮点击事件**********/
$("#confirm").on("click",function(){
	var op_now = $("#op_now").val();
	//alert(op_now);
	for(var key in interval3){
		clearInterval(interval3[key]);
	}
	/**获取就诊卡患者信息**/
	switch(op_now){
		case "ic_get_pat_info":
			daojishi(60);
			writeLog("输入完就诊卡号点击确定");
			$(".jiuzhen_op_area .tips").text("");
			// 获取就诊卡卡号
			var card_no = $("#jz_card_no").val();
			// 清空输入框中的值
			$("#jz_card_no").val("");
			key_value = "";
			if( card_no.length ==""){
				$(".jiuzhen_op_area .tips").text("输入有误,请重新输入");
				return;
			}
			//将就诊卡号写入隐藏域
			$("#card_no").val(card_no);
			//获取就诊卡号的值
			var card_no = $("#card_no").val();
			 // alert(card_no);
			writeLog("就诊卡号:"+card_no);
			var params = {"card_code":$("#card_code").val(),"card_no":card_no,"op_code":$("#op_code").val(),"zzj_id":$("#zzj_id").val()}; 
			var sub_html ="";
			$.ajax({
				url:"__URL__/ic_getPatInfo", 
				type:'post',
				dataType:'json',
				data:params,
				beforeSend:function(){
					index_load = layer.msg('病人数据获取中,请稍候...', {icon: 16,time:20000});	
				},
				success:function(data){
					layer.close(index_load);
					
					if(data["head"]['succflag']=="1"){
						var name = data["body"]['name'];
						var medid = data["body"]['medid'];
						var sex = data["body"]['sex'];
						if( sex == "1"){
							sex = "男";
						}else{
							sex = "女";
						}
						// 卡号
						daojishi(60);
						writeLog("卡号:"+card_no);
						//将身份证卡号写入隐藏域
						$("#card_no").val(card_no);
						
						$("#jz_card_no").blur();
						window.external.send(1,4); //关闭灯带
						window.external.LisPrint(name+'|'+sex+'|'+medid);
						window.external.webBrowserNavigateHome();
						
					}else{
						// 失败
						writeLog("获取门诊号失败");
						interval = setInterval(getIcCardNo,"1000");
						interval3.push(interval);
						$(".jiuzhen_op_area .tips").text(data["head"]["retmsg"]);
						
					}
				},
			});
			
		break;
		case "sfz_put_sfz":
			writeLog("输入完身份证号点击确定");
			// 获取身份证号
			var sfz_no = $("#jz_card_no_sfz").val();
			// 清空输入框中的值
			key_value = "";
			$(".jiuzhen_op_area_sfz .tips").text("");
			if( sfz_no!="" && sfz_no.length!="18" && sfz_no.length!="15"){
				interval = setInterval(getCardNoS,"1000");
				interval3.push(interval);
				$(".jiuzhen_op_area_sfz .tips").text("输入有误,请重新输入");
				return;
			}
			window.external.send(1,4); //关闭灯带
			// 身份证号
			writeLog("身份证号:"+sfz_no);
			// alert(sfz_no);
        	var params = {"card_code":$("#card_code").val(),"card_no":sfz_no,"op_code":$("#op_code").val(),"zzj_id":$("#zzj_id").val()}; 
			var sub_html ="";
			$.ajax({
				url:"__URL__/sfz_getPatInfo", 
				type:'post',
				dataType:'json',
				data:params,
				beforeSend:function(){
					index_load = layer.msg('病人数据获取中,请稍候...', {icon: 16,time:20000});	
				},
				success:function(data){
					layer.close(index_load);
					daojishi(60);
					if(data["head"]['succflag']=="1"){
						var name = data["body"]['name'];
						var medid = data["body"]['medid'];
						var sex = data["body"]['sex'];
						if( sex == "1"){
							sex = "男";
						}else{
							sex = "女";
						}
						// 卡号
						writeLog("卡号:"+card_no);
						//将身份证卡号写入隐藏域
						$("#card_no").val(card_no);
						// alert(card_no);
					    window.external.LisPrint(name+'|'+sex+'|'+medid);
						window.external.send(1,4);//关闭灯带
						window.external.webBrowserNavigateHome();
					}else{
						// 失败
						writeLog("根据身份证号获取门诊号失败");
						interval = setInterval(getCardNoS,"1000");
						interval3.push(interval);
						$(".jiuzhen_op_area_sfz .tips").text(data["head"]["retmsg"]);
						
					}
				},
			});
    	break;
    	case "yb_get_pat_info":
    		daojishi(20);
			writeLog("输入完医保卡号点击确定");
			$(".jiuzhen_op_area_yb .tips").text("");
			// 获取医保卡卡号
			var card_no = $("#jz_card_no_yb").val();
			// 清空输入框中的值
			$("#jz_card_no_yb").val("");
			key_value = "";
			// alert(card_no);
			// if( card_no.length!="12"){
			// 	$(".jiuzhen_op_area_yb .tips").text("输入有误,请重新输入");
			// 	return;
			// }
			//将医保卡号写入隐藏域
			$("#card_no").val(card_no);
			//获取医保卡号的值
			// var card_no = $("#card_no").val();
			var params = {"ybk_no":card_no};
			$.ajax({
				url:"__URL__/yibao_getPatInfo", 
				type:'post',
				dataType:'json',
				data:params,
				beforeSend:function(){
					index_load = layer.msg('病人数据获取中,请稍候...', {icon: 16,time:20000});	
				},
				success:function(data){
						layer.close(index_load);
						daojishi(60);
					if(data["head"]['succflag']=="1"){
						
						var name = data["body"]['name'];
						var medid = data["body"]['medid'];
						var sex = data["body"]['sex'];
						if( sex == "1"){
							sex = "男";
						}else{
							sex = "女";
						}
						
						
						writeLog("医保卡号:"+card_no);
						window.external.LisPrint(name+'|'+sex+'|'+medid);
						window.external.send(1,4);//关闭灯带
						window.external.webBrowserNavigateHome();
					}else{
						// 失败
						writeLog("根据医保卡号获取门诊号失败");
						
						$(".jiuzhen_op_area_yb .tips").text("根据医保卡号获取门诊号失败");
						
					}
				},
			});
			
			
    	break;
		default:
			return false;
		break;
	}
		return false;
})
/******
**返回按钮功能处理
****/
$("#fanhui").on("click",function(){
	//alert($("#op_now").val());
	switch($("#op_now").val()){
		//从选择卡类型界面返回到首页
        case "dayin_chose_card_type":
        	writeLog("从选择卡类型界面返回到首页");
	        $("#op_now").val("dayin_chose_card_type");
	         window.location.href="__APP__/ZiZhu/Index";
	        // window.external.webBrowserNavigateHome();
        break;
        case "ic_get_pat_info":
        	writeLog("从输入就诊卡号返回到选择卡类型界面");
        	$("#jz_card_no").val("");
        	$(".jiuzhen_op_area").hide();
        	$(".chose_card_type_area").show();
			$("#confirm").css({"visibility":"hidden"});
			$("#op_now").val("dayin_chose_card_type");
			window.external.send(1,4);   //开启社保卡灯带
			daojishi(60);
        break;
        case "sfz_put_sfz":
        	writeLog("从输入身份号返回到选择卡类型界面");
        	$("#jz_card_no_sfz").val("");
        	$(".jiuzhen_op_area_sfz").hide();
        	$(".chose_card_type_area").show();
        	$("#confirm").css({"visibility":"hidden"});
			$("#op_now").val("dayin_chose_card_type");
			daojishi(60);
			window.external.send(1,4);   //开启社保卡灯带
        break;
   
        case "chose_yb_card":
        	writeLog("从插身份证页面返回到选择卡类型界面");
        	$(".yb_op_area").hide();;
        	$(".chose_card_type_area").show();
        	$("#confirm").css({"visibility":"hidden"});
			$("#op_now").val("dayin_chose_card_type");
			window.external.MoveOutCard();
			window.external.DisAllowCardIn();
			window.external.send(1,4);   //开启社保卡灯带
			daojishi(60);
        break;
		
	}								
})
})

/********交易记录*******/
function pay_record(dept_code,dept_name,doctor_code,doctor_name,card_type,business_type,pat_card_no,healthcare_card_no,id_card_no,pat_id,pat_name,pat_sex,charge_total,cash,zhzf,tczf,trading_state,healthcare_card_trade_state,his_state,bank_card_id,reg_info,trade_no,zzj_id,stream_no,tk_status){
		//alert(dept_code+","+dept_name+","+doctor_code+","+doctor_name+","+card_type+","+business_type+","+pat_card_no+","+healthcare_card_no+","+id_card_no+","+pat_id+","+pat_name+","+pat_sex+","+charge_total+","+cash+","+zhzf+","+tczf+","+trading_state+","+healthcare_card_trade_state+","+his_state+","+bank_card_id+","+reg_info+","+trade_no+","+zzj_id+","+stream_no);
		var params = {"dept_code":dept_code,"dept_name":dept_name,"doctor_code":doctor_code,"doctor_name":doctor_name,"card_type":card_type,"business_type":business_type,"pat_card_no":pat_card_no,"healthcare_card_no":healthcare_card_no,"id_card_no":id_card_no,"pat_id":pat_id,"pat_name":pat_name,"pat_sex":pat_sex,"charge_total":charge_total,"cash":cash,"zhzf":zhzf,"tczf":tczf,"trading_state":trading_state,"healthcare_card_trade_state":healthcare_card_trade_state,"his_state":his_state,"bank_card_id":bank_card_id,"reg_info":tk_status,"trade_no":trade_no,"zzj_id":zzj_id,"stream_no":$("#stream_no").val(),"tk_status":tk_status}; 
		//alert("开始记录交易数据");
		$.ajax({
			url:"__URL__/witeJyRecordToDataBase", 
			type:'post',
			dataType:'json',
			data:params,
			success:function(data){
				
			}
		})
}

/**
*日志记录函数
**/
function writeLog(logtxt,logtype){
	var params = {"log_txt":logtxt,"log_type":logtype,"card_code":$("#card_code").val(),"card_no":$("#card_no").val(),"patient_id":$("#patient_id").val(),"direction":"操作步骤","op_code":$("#op_code").val(),"zzj_id":$("#zzj_id").val()};
	$.ajax({
			url:"__URL__/writeLogs", 
			type:'post',
			dataType:'json',
			data:params,
			success:function(data){}
	})
}

//读取就诊卡
function getIcCardNo(){
    var IcCardNo = window.external.DcrfGetSecBlockData();
    // var IcCardNo = '91224916';
    var reg = /^[0-9]*$/;
    var success_CardNo =reg.test(IcCardNo);
    if(IcCardNo!="" && success_CardNo){
        writeLog("就诊卡号读取成功");
        for(var key in interval3){
            clearInterval(interval3[key]);
        }
        // 把门诊号放入隐藏域中
        // $("#card_no").val(IcCardNo);
        $("#jz_card_no").val( IcCardNo);
        $("#confirm").trigger("click");
    }else{
    	// $(".jiuzhen_op_area .tips").text("读取卡号失败，请重新贴卡");

    }

}
//读取身份证方法
function getCardNoS(){
	 var card_no2 = window.external.sfz_card_read();
      //var card_no2 = "411523199409190939";
	if(card_no2!=""){
		if(card_no2!="请重放身份证" && card_no2!="开usb失败" && card_no2!="读卡失败"){
			writeLog("二代身份证读卡器获取身份证信息成功");
			var sfz = card_no2.split(",");
			for(var key in interval3)
			{
				clearInterval(interval3[key]);
			}
			var s0 = sfz[0];//姓名
			var s1 = sfz[1];//性别
			var s2 = sfz[2];//民族
			var s3 = sfz[3];//出生日期
			var s4 = sfz[4];//住址
			var s5 = sfz[5];//身份证号
			var s6 = sfz[6];//签发机关
			var s7 = sfz[7];//有效期开始日期
			var s8 = sfz[8];//有效期截止日期else
			// 身份证作为卡号放入输入框中
			$("#jz_card_no_sfz").val(s5);
			$("#confirm").trigger("click");
		}else{
			$(".put_shenfenzheng .tips").html(card_no2);
		}
	}
	
}
/*****************获取医保患者信息************************/
function getYibaoInfo(){
	var flag ="";
	flag = window.external.ReadStatus();//获取读卡器状态, 有卡返回true, 无卡返回false
	if(flag){
		clearInterval(interval);
		setTimeout(function(){
			$(".yb_op_area .tips").show().text('医保患者数据读取中,请稍后...');
			// 查询医保卡信息
			var params = {"op_code":$("#op_code").val(),"card_code":$("#card_code").val(),"zzj_id":$("#zzj_id").val()};
			$.ajax({
				url:"__URL__/yibao_getPatInfo",
				type:'post',
				dataType:'json',
				data:params,
				beforeSend:function(){
					// index_load = layer.msg('患者数据查询中,请稍候...', {icon: 16,time:20000});
					$("#fanhui").css({"visibility":"hidden"});
					$("#confirm").css({"visibility":"hidden"});
					$("#tuichu").css({"visibility":"hidden"});
				},
				success:function(data){
					daojishi(60);
					$(".yb_op_area .tips").show().text('');
					// layer.close(index_load);
					$("#fanhui").css({"visibility":"hidden"});
					$("#confirm").css({"visibility":"hidden"});
					$("#tuichu").css({"visibility":"visible"});
					$("#op_now").val("chose_yb_card");
					if(data['head']['succflag']=="1"){
						$(".yb_op_area .tips").show().text('');
						writeLog("获取医保患者,返回成功信息");
						var name = data["body"]['name'];
						var medid = data["body"]['medid'];
						var sex = data["body"]['sex'];
						if( sex == "1"){
							sex = "男";
						}else{
							sex = "女";
						}
						
						
						writeLog("医保卡号:"+card_no);
						
						//将身份证卡号写入隐藏域
						$("#card_no").val(card_no);
						// 医保卡号
						// alert(card_no);
						writeLog("医保卡号:"+card_no);
						window.external.LisPrint(name+'|'+sex+'|'+medid);
						window.external.MoveOutCard();
						window.external.DisAllowCardIn();
						window.external.send(1,4);   //关闭灯带
						window.external.webBrowserNavigateHome();
						
	            	}else{
	            		// 医保卡号
						writeLog("医保卡号获取失败");
	            		writeLog("获取医保患者,返回失败信息");
						$(".yb_op_area .tips").html(data['head']['retmsg']);
	            		window.external.MoveOutCard();
	            		window.external.DisAllowCardIn();

	            	}
				}
			});
		}, 2500);
		
	}
}
//ocx控件方法
//初始化控件

// 对Date的扩展，将 Date 转化为指定格式的String
// 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符， 
// 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字) 
// 例子： 
// (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423 
// (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18 
Date.prototype.Format = function (fmt) { //author: meizz 
    var o = {
        "M+": this.getMonth() + 1, //月份 
        "d+": this.getDate(), //日 
        "h+": this.getHours(), //小时 
        "m+": this.getMinutes(), //分 
        "s+": this.getSeconds(), //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds() //毫秒 
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
}	

</script>
<style type="text/css">
</style>
<title>化验单打印</title>
</head>

<body>
<!--添加了病人隐藏域-->
<input type="hidden" class="inhide" id="patient_id" />
<!--添加了病人隐藏域-->
<input type="hidden" class="inhide" id="op_code" value=""/>
<input type="hidden" class="inhide" id="dingshi" value=""/>
<input type="hidden" class="inhide" id="pat_code" value=""/>
<input type="hidden" class="inhide" id="card_no" value=""/>
<input type="hidden" class="inhide" id="card_code" value=""/>
<input type="hidden" class="inhide" id="response_type" value=""/>
<input type="hidden" class="inhide" id="times" value="" />
<input type="hidden" class="inhide" id="pat_name" value="" />
<input type="hidden" class="inhide" id="pat_sex" value="" />
<input type="hidden" class="inhide" id="pat_age" value="" />
<input type="hidden" class="inhide" id="cash" value=""/>
<input type="hidden" class="inhide" id="charge_total" value=""/>
<input type="hidden" class="inhide" id="zhzf" value=""/>
<input type="hidden" class="inhide" id="tczf" value=""/>
<input type="hidden" class="inhide" id="pay_seq" value=""/>
<input type="hidden" class="inhide" id="trade_no" value=""/>
<input type="hidden" class="inhide" id="idCard" value=""/><!--支付宝支付帐号-->
<input type="hidden" class="inhide" id="PayStatus" value=""/>
<input type="hidden" class="inhide" id="times_order_no"  value=""/>
<input type="hidden" class="inhide" id="dept_code" value=""/>
<input type="hidden" class="inhide" id="doctor_code" value=""/>
<input type="hidden"  class="inhide" id="dept_name" value=""/>
<input type="hidden" class="inhide" id="doctor_name" value=""/>
<input type="hidden" class="inhide" id="healthcare_card_no" value=""/>
<input type="hidden" id="zzj_id"  value="{$zzj_id}" />
<input type="hidden"  class="inhide" id="tansType" value="00"  />
<input type="hidden" class="inhide" id="reponse_name" value="" />
<input type="hidden" id="daojishi" class="inhide" value=""/>
<input type="hidden" id="business_type" class="inhide" value=""/>
<input type="hidden" id="pay_type" class="inhide" value=""/>
<input type="hidden" id="yb_flag" class="inhide" value=""/>
<input type="hidden" id="record_sn" class="inhide" value=""/>
<input type="hidden" id="bank_card_num" class="inhide" value=""/>
<input type="hidden" id="personcount" class="inhide" value=""/>
<!--银联隐藏域-->
<input type="hidden" id="refund_bank" class="inhide" value=""/>
<input type="hidden" id="T_RespCode" class="inhide" value=""/>
<input type="hidden" id="RespCode" class="inhide" value=""/>
<input type="hidden" id="RespInfo" class="inhide" value=""/>
<input type="hidden" id="CardNo" class="inhide" value=""/>
<input type="hidden" id="Amount" class="inhide" value=""/>
<input type="hidden" id="Trace" class="inhide" value=""/>
<input type="hidden" id="Batch" class="inhide" value=""/>
<input type="hidden" id="TransDate" class="inhide" value=""/>
<input type="hidden" id="TransTime" class="inhide" value=""/>
<input type="hidden" id="Ref" class="inhide" value=""/>
<input type="hidden" id="Auth" class="inhide" value=""/>
<input type="hidden" id="Memo" class="inhide" value=""/>
<input type="hidden" id="Lrc" class="inhide" value=""/>
<!--本地交易流水号-->
<input type="hidden" id="stream_no" value=""/> 
<input type="hidden" id="bank_success" value=""/> 
<!--------
\*记录当前操作到哪步了

/*获取自费就诊记录 ic_get_pat_info
/*自费费用确认展示 ic_sf_show
/*自费缴费确认提交 ic_sf_save
/*选择支付方式    pay_chose
/*自费选择支付宝支付  zf_pay_zhifubao
/*在卡类型界面选择了医保卡 chose_yb_card
----------> 
<input type="hidden" id="op_now" />
<div class="main_body">
	<div id="downcount"></div>
	<div id="show_times">{$riqi} {$xq} &nbsp;{$sj}</div>
	
   <div class="main_left_2"  calss="block">
        <div class="print_notice mtnum2" style="display:none">
        	<h3>打印机缺纸请联系工作人员</h3>
        </div>
    	<!--选择卡类型-->
        <div class="chose_card_type_area mtnum2" style="display:block;">
        	<h3>请您选择卡类型</h3>
        	<div style="font-size:20px;"class="tishi"><b>打印提示：</b><br>
		      	1、您可以选择就诊卡,身份证,医保卡三种方式打印您的病历底方<br>
		      	
                </div>
            <ul>
            	<li class="ic" id="xz_ic">就诊卡</li>
            	<li class="sfz" id="xz_sfz">身份证</li>
                <li class="yibao" id="xz_yibao">医保卡</li>
            </ul>
        </div>
        <!----就诊卡操作界面---->
        <div class="jiuzhen_op_area mtnum2" style="display:none;">
        	<h3>请按图示划就诊卡或输入就诊卡号</h3>
            <input type="text" class="iptx" value="" id="jz_card_no" />
            <div class="j_keybord_area">
            	<ul class="img_view"></ul>
                <ul class="key">
                	<li class="num" param="1">1</li>
                    <li class="num" param="2">2</li>
                    <li class="num" param="3">3</li>
                    <li class="num" param="4">4</li>
                    <li class="num" param="5">5</li>
                    <li class="num" param="6">6</li>
                    <li class="num" param="7">7</li>
                    <li class="num" param="8">8</li>
                    <li class="num" param="9">9</li>
                    <li class="num" param="0">0</li>
                    <li class="num" param="x">x</li>
                    <li class="del">删除</li>
                </ul>
                <div class="tips"></div>
            </div>
        </div>
        <!----S身份证操作界面---->
        <div class="jiuzhen_op_area_sfz mtnum2" style="display:none;">
        	<h3>请刷身份证或输入身份证号</h3>
            <input type="text" class="iptx" value="" id="jz_card_no_sfz" />
            <div class="j_keybord_area_sfz">
            	<ul class="img_view" id="img_view_sfz">
            	</ul>
                <ul class="key">
                	<li class="num" param="1">1</li>
                    <li class="num" param="2">2</li>
                    <li class="num" param="3">3</li>
                    <li class="num" param="4">4</li>
                    <li class="num" param="5">5</li>
                    <li class="num" param="6">6</li>
                    <li class="num" param="7">7</li>
                    <li class="num" param="8">8</li>
                    <li class="num" param="9">9</li>
                    <li class="num" param="0">0</li>
                    <li class="num" param="x">x</li>
                    <li class="del">删除</li>
                </ul>
                <div class="tips"></div>
            </div>
        </div>
         <!----医保手动输入---->
        <div class="jiuzhen_op_area_yb mtnum2" style="display:none;">
        	<h3>请扫描医保卡或者输入医保卡号</h3>
            <input type="text" class="iptx" value="" id="jz_card_no_yb" />
            <div class="j_keybord_area_yb">
            	<ul class="img_view" id="img_view_yb">
            	</ul>
                <ul class="key">
                <li class="num" param="1">1</li>
                    <li class="num" param="2">2</li>
                    <li class="num" param="3">3</li>
                    <li class="num" param="4">4</li>
                    <li class="num" param="5">5</li>
                    <li class="num" param="6">6</li>
                    <li class="num" param="7">7</li>
                    <li class="num" param="8">8</li>
                    <li class="num" param="9">9</li>
                    <li class="num" param="0">0</li>
                    <li class="num" id="S" param="S">S</li>
                    <li class="num" id="X" param="X">X</li>
                    <li class="del">删除</li>
                </ul>
                <div class="tips"></div>
            </div>
        </div>
        <!---------------医保卡插入操作界面-------------------->
        <div class="yb_op_area mtnum2" style="display:none;">
        	<h3>请插入您的医保卡</h3>
            <div class="tips"></div>
        </div>
       <!-- 输入充值金额 -->
       <div class="chongzhi_shuru mtnum2" style="display:none;">
        	<h3>请输入充值金额</h3>
            <input type="text" class="iptx" value="" id="chongzhi_money" />
            <div class="j_keybord_area_chongzhi_shuru">
            	<ul class="img_view" id="img_view_chongzhi">
            	</ul>
                <ul class="key">
                	<li class="num" param="1">1</li>
                    <li class="num" param="2">2</li>
                    <li class="num" param="3">3</li>
                    <li class="num" param="4">4</li>
                    <li class="num" param="5">5</li>
                    <li class="num" param="6">6</li>
                    <li class="num" param="7">7</li>
                    <li class="num" param="8">8</li>
                    <li class="num" param="9">9</li>
                    <li class="num" param="0">0</li>
                    <li class="num" param=".">.</li>
                    <li class="del">删除</li>
                </ul>
                <div class="tips"></div>
            </div>
        </div>
        <!--选择支付方式-->
        <div class="print_notice mtnum2" style="display:none">
        	<h3>打印机缺纸请联系工作人员</h3>
        </div>
    	<!--选择卡类型-->
        <div class="chose_pay_type_area mtnum2" style="display:none">
        	<h3>请选择支付方式</h3>
        	<div style="font-size:20px;"><b>挂号提示：</b><br>
		      	1、按照医生要求的充值金额充值
		        2、不支持信用卡支付。
		        3、为避免无效支付，请在计时结束前完成支付。
		        4、支付后未打印回执单，请去窗口咨询。
		        5、银联卡,医保卡如有变形会造成不退卡，请去窗口办理业务。
                </div>
            <ul>
            	<li id="pay_zhifubao" class="zhifubao">支付宝</li>
				<li id="pay_weixin" class="weixin">微信</li>
				<li id="pay_bank" class="bank_s">银行卡</li>
            </ul>
        </div>
        <!--支付宝二维码显示区-->
        <div class="alipay_ma_show mtnum2" style="display:none">
        	<h3>扫一扫付款</h3>
            <div class="pay_val"></div>
            <div class="erweima">
            	<img src="" width="240" />
            </div>
            <div class="tips">请用手机支付宝扫描付款</div>
        </div>
        <!--银行卡-->
        <div class="bank mtnum2" style="display:none">
        	<h3>请插入您的银行卡</h3>
            <div class="tips" id="bank_tips"></div>
        </div>
        <div class="bank_password mtnum2" style="display:none;">
        	<h3>请输入您的银行卡密码</h3>
            <input type="password" class="PinField1" id="PinField" />
            <div class="bank_notice_area">
            	<ul class="bank_img_view"></ul>
                <ul class="bank_lang">
                	<li class="lang">请不要透漏您的密码！</li>
                    <li class="lang">输入密码时请注意遮挡！</li>
                    <li class="lang">密码不足六位请按确认键！</li>
                </ul>
            </div>
            <div class="tips"></div>
        </div>
        <!--------------付款成功-------------->
        <div class="pay_success mtnum2" style="display:none">
        	<h3>操作完毕 !</h3>
        </div>
   </div>
    
   <div class="btn_area" style="display:none;">
   	<ul>
    	<li id="confirm">确定</li>
        <li id="fanhui">返回</li>
        <li id="tuichu">退出</li>
    </ul>
   </div>
</div>
</div>
<script> 
</script> 
</body>
</html>